# IAR 配置目录
settings/

# 编译输出目录
Debug/
Release/
Debug_m7_0/

# BrowseInfo
BrowseInfo/

# Ninja 文件
.ninja_deps
.ninja_log

# 编译生成文件
*.hex
*.out
*.map

# 浏览数据库
*.pbi
*.pbd
*.browse

# 临时文件
*.dep
*.tmp
*.log

# 备份文件
*.bak

# 系统文件
Thumbs.db
Desktop.ini